In [1]:
# Importamos librerías
import matplotlib.pyplot as plt
import pandas as pd
# Cargar datos
datos_ebay = pd.read_csv("harrypotter_products_ebay.csv")
# Convertimos a dataframe
datos_ebay = pd.DataFrame(datos_ebay)
# Mostramos los datos
datos_ebay.sample(10)

                                                  Title      Price Sales
9512  Harry Potter Taza Taza Slytherin Cresta Hechic...  12,68 EUR   NaN
9261  Harry Potter Calcetines Calendario de Adviento...  16,13 EUR   NaN
8224  •Harry Potter •Toyllectible Fawkes •The Noble ...  29,73 EUR   NaN
6515  Gorro gris Harry Potter 'Slytherin' talla únic...  15,82 EUR   NaN
4657  Prendedor giratorio oficial universal para som...  28,82 EUR   NaN
3973  Harry Potter Collar Pendientes Schnatz Inverso...  11,14 EUR   NaN
4416  Manta de tapiz con flecos Warner Bros. Harry P...  20,69 EUR   NaN
3011  "Almohada de peluche Warner Brothers Harry Pot...  16,14 EUR   NaN
6922  Harry Potter Deluxe Varita Rubíes 2017 - Funci...  13,83 EUR   NaN
3641  Taza/taza de café vintage 2000 Hallmark Harry ...  17,23 EUR   NaN

In [2]:
datos_ebay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10356 entries, 0 to 10355
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   10020 non-null  object
 1   Price   10020 non-null  object
 2   Sales   7 non-null      object
dtypes: object(3)
memory usage: 242.8+ KB

In [3]:
# Rellenamos los valores nulos de la columna "Sales" con 0
datos_ebay["Sales"] = datos_ebay["Sales"].fillna(0)
datos_ebay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10356 entries, 0 to 10355
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   10020 non-null  object
 1   Price   10020 non-null  object
 2   Sales   10356 non-null  object
dtypes: object(3)
memory usage: 242.8+ KB

In [4]:
# Eliminamos las filas con valores nulos
datos_ebay = datos_ebay.dropna()
datos_ebay.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10020 entries, 2 to 10353
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   10020 non-null  object
 1   Price   10020 non-null  object
 2   Sales   10020 non-null  object
dtypes: object(3)
memory usage: 313.1+ KB

In [5]:
cantidad_productos = datos_ebay["Title"].count()
print("Cantidad de productos: ", cantidad_productos)

Cantidad de productos:  10020

In [6]:
conteo = datos_ebay['Price'].str.contains('a').sum()
conteo

np.int64(168)

In [7]:
# Limpiamos las filas que tienen el precio como rango
datos_ebay = datos_ebay[~datos_ebay['Price'].str.contains('a')]

In [8]:
# Como todos los valores de precios son en euros, eliminamos la cadena "EUR" y convertimos a numérico
datos_ebay["Price"] = datos_ebay["Price"].str.replace("EUR", "")
# También hay que reemplazar las comas por puntos para que pandas pueda leerlo
datos_ebay["Price"] = datos_ebay["Price"].str.replace(",", ".")
#datos_ebay.rename(columns={"Price": "Price_EUR"}, inplace=True)
# Quitamos los espacios en blanco
datos_ebay["Price"] = datos_ebay["Price"].str.strip()
datos_ebay["Price"] = pd.to_numeric(datos_ebay["Price"],errors ="coerce")
datos_ebay.sample(20)

                                                   Title   Price Sales
2187   Harry Potter Fan Made inspirado direccional or...   41.61     0
3698   Suéter Harry Potter Slytherin Cuello en V Tall...   34.58     0
10281         Harry Potter Fantastic Beasts Nifler Pouch   56.47     0
3040   Harry Potter Hedwig Flying Owl Hogwarts Banner...   19.46     0
5038   Sudadera con capucha con cremallera Gryffindor...   56.48     0
8435   Insignia alfiler cresta de la casa de Harry Po...    8.62     0
3836   Peluche Harry Potter Mundo Mágico Just Play 9"...   17.28     0
3230   Taza Escuela Hogwarts de Magia Magia Taza Mund...   11.52     0
8042   Paquete Hogwarts Vela Gryffindor, Cordón, 2 Di...   26.50     0
1522   Lego 71028 Minifig Figurine Série Harry Potter...    6.99     0
4097   Reloj en miniatura Harry Potter ~ Harry con ma...   17.28     0
8589   Varita de Harry Potter - para DIVISIÓN DE NO-M...   24.15     0
7312   Peluche Universal Studios Wizarding World of H...   21.89     0
2033             Collar iluminado Harry Potter Halloween   13.82     0
389    Réplica de Varita Hermione Granger Harry Potte...   10.47     0
7606       Cartera Hogwarts Alumni muy LIGERAMENTE usada   20.74     0
9999   Harry Potter Severus Snape soporte acrílico us...  180.96     0
5668   De Colección Harry Potter Sombrero Gorra Orden...   14.97     0
7028   "Collar Harry Potter Hufflepuff escudo colgant...   11.53     0
2792   Harry Potter Hogwarts Soporte de pared Die-Cas...   40.29     0

In [9]:
precio_maximo = datos_ebay["Price"].max()
precio_minimo = datos_ebay["Price"].min()
rango_precios = precio_maximo - precio_minimo

In [10]:
print("Precio máximo: ", precio_maximo)
print("Precio mínimo: ", precio_minimo)
print("Rango de precios: ", rango_precios)

Precio máximo:  857.39
Precio mínimo:  0.94
Rango de precios:  856.4499999999999

In [18]:
figuras = datos_ebay["Title"].str.contains("figur", case=False).sum()
figuras

np.int64(523)

In [12]:
funkos = datos_ebay["Title"].str.contains("funko", case=False).sum()
funkos

np.int64(190)

In [13]:
tazas = datos_ebay["Title"].str.contains("taza", case=False).sum()
tazas

np.int64(626)

In [14]:
packs = datos_ebay["Title"].str.contains("pack", case=False).sum() 
packs

np.int64(37)

In [15]:
varitas = datos_ebay["Title"].str.contains("varita", case=False).sum()
varitas

np.int64(529)

In [17]:
usados = datos_ebay["Title"].str.contains("usad", case=False).sum()
usados

np.int64(145)

In [26]:
nuevos = datos_ebay["Title"].str.contains("nuev", case=False).sum()
nuevos

np.int64(1887)

In [27]:
productos = {"Figuras": figuras, "Funkos": funkos, "Tazas": tazas, "Packs": packs, "Varitas": varitas, "Usados": usados, "Nuevos": nuevos}
df_productos = pd.DataFrame.from_dict(productos, orient= "index", columns=['Cantidad'])
df_productos.reset_index(inplace=True)
df_productos.rename(columns={'index': 'Producto'}, inplace=True)
df_productos

  Producto  Cantidad
0  Figuras       523
1   Funkos       190
2    Tazas       626
3    Packs        37
4  Varitas       529
5   Usados       145
6   Nuevos      1887